h1{
    margin-top: -20%;
    color: aliceblue;
    margin-left: 30px;
}
h5{
    color: aliceblue;
    margin-left: 30px;
}

img{
    height: 550px;
    width: auto;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}